@import "./Main_style.css";
.body2{
    display: flex;
}
.description{
    margin-left: 8%;
    margin-top: 12%;
}
.Welcome{
    font-size: 25px;
}
.name{
    color:white;
    font-size: 50px;
}
.para{
    color:white;
}

.image{
    margin-left: 5%;
    margin-top: 1%;
    width: 600px;

}

/*--------------------------------->*/

#description-animation {
  font-weight: bold;
  position: relative;
  animation: mymove-description 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
@keyframes mymove-description {
  from {left: -200px;}
  to {left: 1px;}
}
#image-animation{
  font-weight: bold;
  position: relative;
  animation: mymove-image 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes mymove-image {
  from {left:300px ;}
  to {left: -75px;}
}

/*---------------------------------*/

.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    

  }
  .wrapper {
    margin-top: 5%;
    text-align: center;
    width: 375px;
    
}
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: #0077b5;
    color: #ffffff;
  }
 

  /*--------------------------------->*/

  @media screen and (max-width: 600px) {
    .body2{
      display:block;
    }
    .name{
      margin-top: 5%;
      color:white;
      font-size: 20px;
    }
    .description{
      text-align: center;
    }
   .Welcome{

      font-size: 25px;
    }
    .para{
      color:white;
      font-size: 10px;
    }
  
    .image{
      
      width: 350px;
  
  }

    .wrapper .icon{
      position: relative;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      display: inline-block;
      align-items: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }

    .wrapper { 
      margin-top: 5%;
      text-align: center;
      width: 300px;
    }

    #image-animation{
      font-weight: bold;
      position: relative;
      animation: mymove-image 5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
    }
    
    @keyframes mymove-image {
      from {left:300px ;}
      to {left: -5px;} 
    }
    #description-animation {
      font-weight: bold;
      position: relative;
      animation: mymove-description 5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
    }
    @keyframes mymove-description {
      from {left: -200px;}
      to {left: -15px;}
    }
  }